@import url(https://fonts.bunny.net/css?family=sen:400,700,800);
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-sen;
	}
}
